.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.home-description {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

img {
  max-width: 550px;
  max-height: 650px;
}

.home-slideshow {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.slideshow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainImg {
  width: 80%;
  height: auto;
  margin-bottom: 1rem;
}

.actions {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.actions button {
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  font-size: 1.5rem;
  border: none;
  background-color: lightgray;
  cursor: pointer;
}

.thumbnail {
  display: flex;
  justify-content: center;
}

.thumbnail img {
  margin: 0 1rem;
  cursor: pointer;
}

.thumbnail img.active {
  border: 2px solid blue;
}