.nav {
  font-family: "Comic Sans MS", cursive;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  border: 1px solid rgb(164, 164, 164);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin: 20px;
  background-color: rgb(244, 244, 244);
  box-shadow: 0px 0px 10px rgb(144, 144, 144);
  }
  
  #home,
  #users,
  #aboutus,
  #games,
  .authorslink {
  text-decoration: none;
  color: black;
  }