/* html{
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  height: 100%;
}

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 0 20px;
    font-size: 1.2em;
  }
  
  .nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    padding: 0 10px;
    height: 100%;
  }
  
  .nav a:hover {
    background-color: #ddd;
    color: #111;
  }
  
  .nav div {
    font-weight: bold;
  }
  
  
  #home,
  #users,
  #aboutus,
  #games,
  .authorslink {
  font-size: 20px;
  text-decoration: none;
  color: black;
  }

  #login,
  #signup {
    font-size: 20px;
    text-decoration: none;
    color: rgb(90, 90, 190);
  }
 */
